<div class="jumbotron" style="background-color: #fff; height: calc(95vh);">
        <h2  style="color: green; font-size: 1.5em;">EXL Technical Assessment</h2>
        <p class="lead">
                <b>Business Requirements</b>
            
                <li>The application accepts the following search input and then displays in a pleasing style a list of employees who meet these criteria (displaying at least name, job title, age, start and end date of employment). </li>	
                <li>	A text box where any part of their first or last name matches what was typed in the search box.</li> 
                <li>	A date range where the results would include any employees that were employed during this period.</li>
                <li>	Solution should either seed data or provide a way to enter new users or both.</li>
            
                 
        </p>

        <p class="lead">
                <b>Technical Requirements</b>
                <li>	A Web Application using WebApi(.Net) or Spring(Java) for the REST API and a front-end JavaScript framework (e.g., Angular, AngularJS, React, Aurelia, etc.) </li>
                <li>	Use an ORM framework to talk to the database.</li>
                <li>	Unit Tests for appropriate parts of the application.</li>
                 
        </p>
      </div>
      
      
       
      